<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fancustomer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
                <meta-data
                    android:name="android.support.VERSION"
                    android:value="26.0.0-alpha1" />
        -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fancustomer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".helper.TimerService"
            android:enabled="true"
            android:process="com.fancustomer"
            android:stopWithTask="false" />

        <!--android:exported="false"-->
        <activity
            android:name=".activity.GetStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnterMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerifyMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.AddCreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookingConfirmed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrackPhotographer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartPhotosShootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillDetailActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/CropwindowTheme" />

        <activity
            android:name=".activity.TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>